/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
  font-family: 'StarJedi';
  src: url('../font/starjedi/Starjedi.woff') format('woff'),
       url('../font/starjedi/Starjedi.ttf')  format('truetype')
}

body {
  background-color: #EEEEEE;
}

#index-banner {
    background-image:url('../images/hoff.png');
    background-size: cover;
}

h1.header {
  font-family: StarJedi
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.text {
  font: italic 14px Georgia;
  text-align: center;
}

.heart {
  display: inline-block;
  font-size: 10px;
  font-family: Georgia;
  font-style: normal;
  color: firebrick;
  text-align: center;
  min-width: 10px;
}
.heart:hover {
  cursor: pointer;
}